@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,600italic,700,700italic);
.body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    background: #000;
    font-size: 13pt;
    font-family: Avenir, "Open Sans", "Helvetica Neue", Helvetica, Arial, Verdana, Roboto, "游ゴシック", "Yu Gothic", "游ゴシック体", "YuGothic", "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "Meiryo UI", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif !important;
    height: 100vh;
}

#header {
    background: transparent;
    color: white;
    overflow: hidden;
    position: relative;
    line-height: 1;
    height: 50px;
    margin-left: 15px;
    visibility: hidden;
}

#header_info {
    width: auto;
    overflow: visible;
    white-space: normal;
    position: relative;
    top: 0;
    bottom: 0;
    margin: auto;
    display: table-cell;
    vertical-align: middle;
    height: 50px;
}

#header_bars {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 10px;
    margin: auto;
    height: 50px;
}

#header_bars > * {
    vertical-align: middle;
    display: inline-block;
}

#header_bars span {
    height: 100%;
    width: 0;
    display: inline-block;
}

#title_texts {
    white-space: nowrap;
}

#title_misc {
    font-size: 10pt;
    text-align: right;
    margin-left: 0px;
    white-space: nowrap;
}

#title {
    font-weight: bold;
}

#header_bars a:hover,
#header_bars a:visited,
#header_bars a:link {
    color: white;
    border: solid 1px transparent;
    padding: 3px;
    display: block;
}

#header_bars a:hover,
#header a:active {
    text-decoration: none;
    /*    border: solid 1px white;*/
}

a:hover .fa {
    color: lightgray;
}

a:hover .fa-home {
    color: darkseagreen;
}

a:hover .fa-twitter {
    color: deepskyblue;
}

a:hover .fa-camera {
    color: darkorange;
}
